<div class="container">
  <header class="my-4">
    <h1 class="text-center">Buscar Ruta</h1>
  </header>

  <!-- Search Form -->
  <section>
    <div class="container mt-5 d-flex justify-content-center">
      <form class="search-form d-flex align-items-center shadow-lg">
        <div class="row w-100 text-white">
          <div class="col-md-3 d-flex align-items-center">
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-bus-front"></i></span>
              <select class="form-select" name="fromLocation" [(ngModel)]="searchObj.fromLocation">
                <option>Provincia de salida</option>
                @for (item of locations$ | async; track $index) {
                <option [value]="item.id">{{ item.locationName }}</option>
                }
              </select>
            </div>
          </div>
          <div class="col-md-1 text-center d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-left-right fs-3"></i>
          </div>
          <div class="col-md-3 d-flex align-items-center">
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-bus-front"></i></span>
              <select class="form-select" name="toLocation" [(ngModel)]="searchObj.toLocation">
                <option>Provincia de llegada</option>
                @for (item of locations$ | async; track $index) {
                <option [value]="item.id">{{ item.locationName }}</option>
                }
              </select>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-center">
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-calendar"></i></span>
              <input type="date" class="form-control" name="travelDate" [(ngModel)]="searchObj.travelDate" placeholder="Date" />
            </div>
          </div>
          <div class="col-md-2 text-center">
            <button type="button" (click)="onSearch()" class="btn btn-light text-danger w-100">
              BUSCAR BUSES
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!-- Buses List -->
  <section id="buses-list" class="my-4">
    <h2>Buses Disponibles</h2>
    @for (item of busList; track $index) {
    <div class="row">
      <div class="col-12">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title">{{ item.busName }}</h5>
              <p class="card-text">{{ item.vendorName }}</p>
            </div>
            <div class="col-md-9">
              <div class="card-body row">
                <div class="col-md-2">
                  <p class="card-text"><strong>{{ item.departureTime | date : "hh:mm:ss" }}</strong></p>
                  <p class="card-text">Partida</p>
                </div>
                <div class="col-md-2">
                  <p class="card-text"><strong>16h</strong></p>
                  <p class="card-text">Duracion</p>
                </div>
                <div class="col-md-2">
                  <p class="card-text"><strong>{{ item.arrivalTime | date : "hh:mm:ss" }}</strong></p>
                  <p class="card-text">Llegada</p>
                  <p class="text-danger">{{ item.arrivalTime | date : "dd:MM:yyyy" }}</p>
                </div>
                <div class="col-md-2">
                  <p class="card-text"><strong>4.5</strong> ⭐</p>
                  <p class="card-text">567 Comentarios</p>
                </div>
                <div class="col-md-2">
                  <p class="card-text"><strong>PEN {{ item.price }}</strong></p>
                  <p class="card-text">{{ item.availableSeats }} Asientos disponibles <br> de {{ item.totalSeats }}</p>
                </div>
                <div class="col-md-2 text-end">
                  <button class="btn btn-danger" [routerLink]="['/booking/', item.id]" routerLinkActive="router-link-active">
                    Reservar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </section>
</div>